
.c-btn {

  &:hover {
    color: white;
    -webkit-box-shadow: 6px 6px 16px -5px rgba(0,0,0,0.63);
    -moz-box-shadow: 6px 6px 16px -5px rgba(0,0,0,0.63);
    box-shadow: 6px 6px 16px -5px rgba(0,0,0,0.63);
  }

  &--primary {
    border: 0;
    background-color: $color-accent;
    color: white;
    font-weight: 700;
    text-transform: uppercase;

    &:hover {
      background-color: darken($color-accent, 4) !important;
    }

  }

  &--lg {
    padding: 22px 40px;
  }

}

/* Overwriting Bulma Defaults */
.is-primary {
  background-color: $color-accent !important;
  &:hover {
    background-color: darken($color-accent, 4) !important;
  }
}