.footer {

  border-top: 20px solid $color-accent;
  padding: 40px 100px;
  background: $color-background;
  color: white;

  .content {
    color: white;
  }

  strong {
    color: white;
  }

  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;

}