.footer {

  border-top: 20px solid $color-accent;
  padding: 20px 75px;
  background: $color-background;
  color: white;
  position: fixed;
  bottom: 0;


  .content {
    color: white;
  }

  strong {
    color: white;
  }
}