  .nav {
    background: $color-background;
    height: 6.25rem;

    .nav-right {
      align-items: center;
    }

    .container {
      align-items: center;
    }
  }

  a.logo {
    color: white;
    font-size: 26px;
    font-weight: 900;
  }

  .nav-item a:hover, a.nav-item:hover {
    color: $color-accent;
  }

  .nav-item a.is-tab:hover, a.nav-item.is-tab:hover {
    border-bottom-color: $color-accent;
    border-top-color: transparent;
  }

  a.nav-item.is-tab {
    margin: 0 10px;
    padding: 20px 3px;
    //border-bottom-color: #b2a373;
    //border-top-color: #b2a373;
  }

  a.nav-item.is-tab:hover {
    border-bottom-color: #a01c27;
    border-top-color: #a01c27;
  }

  .nav-toggle span {
    background-color: white;
  }

  .nav-toggle:hover {
    background-color: transparent;
    span {
      background-color: $color-accent;
    }
  }


  @media screen and (max-width: 768px) {
    #menu-toggle:checked + .nav-menu {
      display: block;
    }
  }

  .is-hidden-custom {
    @media (max-width: 769px) {
      display: none;
    }
  }
