.survey {

  .product-header {
    background-color:#fafafa;
  }

  .questions {
    .question {
      border-bottom: 1px solid $color-light-grey;
      p {
        margin-bottom: 10px;
      }
    }
  }
  hr {
    margin-top: -10px;
    margin-bottom: 5px;
  }
  li {
    margin-left: 20px;
    list-style-type: circle
  }
}
