.u-inline {
  display: flex;
  align-items: center;
}

.u-margin-left {
  margin-left: 10px;
}

.u-button-like {
  cursor: pointer;
}

.background-primary {
  background-color: $color-background;
  p, label {
    color: white;
  }
}

.background-accent {
  background-color: $color-accent;
  color: white;
  p, label {
    color: white;
  }
}

.background-alternate {
  background-color: $color-alternate;
}

.background-white {
  background-color: white;
}

.u-nice-list {
  li {
    padding: 3px;
    border-bottom: 1px solid #dadada;

    &:hover {
      background-color: rgba($color-alternate, 0.1);
    }

  }
}