
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";


.question {
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid rgba(black, 0.6);
}
