

// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600,700,900);


// Bulma

@import "node_modules/bulma/sass/utilities/all";

// Variables
@import "variables";
@import "node_modules/bulma/sass/base/all";
@import "node_modules/bulma/sass/components/all";
@import "node_modules/bulma/sass/elements/all";
@import "node_modules/bulma/sass/grid/all";
@import "node_modules/bulma/sass/layout/all";

* {
  font-family: "Raleway";
}

// Components
@import "./components/boards";
@import "./components/forms";
@import "./components/surveys";
@import "./components/utilities";
@import "./components/links";
@import "./components/nav";
@import "./components/buttons";
@import "./components/welcome";
@import "./components/footer";
@import "./components/results";
@import "./components/alert";

// Overwrites
@import "overwrites";

// Animations
@import "animations";

html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0;
  height: 100%;
}

.page-container {
  flex-grow: 1;
  position: relative;
  display: flex;
  flex-direction: column;
}

#app {
  flex-grow: 1;
}
