

// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bulma
@import "node_modules/bulma/bulma.sass";

* {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

// Components
@import "./components/boards";

// Overwrites
@import "overwrites";


.question {
  padding: 10px;
  border: 1px solid #ddd;

  .question-text {
    font-size: 18px;
  }

  .answers {
    margin: 5px 15px;
  }

  .answer {
    display: flex;
    justify-content: space-between;
    padding: 5px 20px;
  }

  blockquote {
    border-left: 5px solid #64b5f6;
  }

}
.alternate-question {
  background: #F8F9F9;
}

.referrer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 15px;
  border: 1px solid #ddd;
}